h1 {
  color: orangered;
  margin-top: 10px;
}

.nav-link.active {
  color: #ffffff;
  /* Weiss */
  font-weight: bold;
}

.navbar-brand {
  color: rgba(255, 255, 255, 0.55);
  /* gleiche Farbe wie .nav-link */
}

.navbar-brand.active {
  color: #ffffff;
}

.banner {
  width: 100%;
  max-width: 1300px;
  height: auto;
  display: block;
  margin: 2rem auto;
  border-radius: 12px;
}

.team-grid {
  border-radius: 5px;
  border-color: aliceblue;
  padding: 0 10rem;
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  justify-content: center;
}